
@column: column;
@grid-size: 12;
.make-grid(@i:1) when (@i =< @grid-size) {
  .@{column}-@{i}{
    grid-column-end: span @i;
    min-height: 40px;
  }
  .make-grid(@i + 1);
}
.make-grid();

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px;
  grid-gap: 1%;
}
.column {
  background-color: green;
  margin: 20px 0 20px 0;
}


