
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

#carouselSlider {
  left: 0;
  overflow: hidden;
}

.btnSlider {
  text-align: center;
  height: 50px;
  visibility: visible;
  cursor: pointer;
  padding: 5px;
}

.hidden {
  visibility: hidden;
}

#btnPrev {
  position: relative; //for shift on image
  left: 15px;
  z-index: 2;
}

#btnNext {
  position: relative;
  right: 15px;
  z-index: 2;
}

