//.modal {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  margin: auto;
//  max-width: 400px;
//  background-color: yellow;
//  border-radius: 10px;
//}
//
//.btn-close {
//  position: absolute;
//  top: 0;
//  right: 0;
//  margin: 0;
//  padding: 0;
//  width: 20px;
//}
//
//.hidden {
//  display: none
//}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  background-color: sandybrown;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 20px;
}

.hidden { display: none; }

